<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Agregar nueva tarea </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseForm()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ng-container [formGroup]="taskForm">
        <ion-item>
          <ion-input
            label="Nombre"
            labelPlacement="floating"
            placeholder="Ingrese su nombre"
            autocapitalize="sentences"
            formControlName="name"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Descripción"
            labelPlacement="floating"
            placeholder="Ingrese una descripción"
            autocapitalize="sentences"
            formControlName="description"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-select
            label="Categoría"
            label-placement="floating"
            formControlName="categoryId"
            placeholder="Seleccione la categoría"
            [multiple]="false"
            cancelText="Cancelar"
            okText="Aceptar"
          >
            @for (category of categories; track $index) {
              <ion-select-option [value]="category.id">{{
                category.name
              }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      </ng-container>

      <br />

      <ion-segment>
        <ion-button (click)="onSaveCategory()">
          <ion-icon name="add"></ion-icon>
          <ion-label>Agregar</ion-label>
        </ion-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>
</ion-content>
