<ion-header>
  <ion-toolbar>
    <ion-title>Filtro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onFilter()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-content>
          <ion-item><ion-label>Filtrar por Completado</ion-label></ion-item>
          <ion-grid [fixed]="true">
            <ion-row>
              @for (tag of completes; track $index) {
              <ion-col
                ><ion-button
                  [fill]="tag.select ? 'solid' : 'outline'"
                  (click)="onSelectComplete($index)"
                >
                  {{ tag.title }}
                </ion-button></ion-col
              >
              }
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card style="width: 100%">
        <ion-card-content>
          <ion-item><ion-label>Filtrar por Categoria</ion-label></ion-item>
          <ion-grid>
            <ion-row>
              @for (tag of categories; track $index) {
              <ion-col
                ><ion-button
                  [fill]="tag.select ? 'solid' : 'outline'"
                  (click)="onSelectCategory($index)"
                >
                  {{ tag.title }}
                </ion-button></ion-col
              >
              }
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <br />

  <ion-segment>
    <ion-button shape="round" fill="outline" (click)="onFilter()">
      <ion-label>Filtrar</ion-label>
    </ion-button>
  </ion-segment>

  <ion-infinite-scroll>
    <ion-infinite-scroll-content
      [loadingSpinner]="false"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
